In [10]:
import pandas as pd

In [11]:
people = {
    'first': ['Prasit', 'Sita', 'Ram', 'Laxman'],
    'last': ['Poudel', 'Raghu', 'Raghu', 'Raghu'],
    'email': ['PrasitPoudel@gmail.com', 'SitaRaghu@email.com', 'RamRaghu@email.com', 'LaxmanRaghu@gmail.com']
}

In [12]:
df = pd.DataFrame(people)

In [13]:
df

    first    last                   email
0  Prasit  Poudel  PrasitPoudel@gmail.com
1    Sita   Raghu     SitaRaghu@email.com
2     Ram   Raghu      RamRaghu@email.com
3  Laxman   Raghu   LaxmanRaghu@gmail.com

In [14]:
df.sort_values(by='last', ascending=False)

    first    last                   email
1    Sita   Raghu     SitaRaghu@email.com
2     Ram   Raghu      RamRaghu@email.com
3  Laxman   Raghu   LaxmanRaghu@gmail.com
0  Prasit  Poudel  PrasitPoudel@gmail.com

In [15]:
df.sort_values(by=['last', 'first'], ascending=False)

    first    last                   email
1    Sita   Raghu     SitaRaghu@email.com
2     Ram   Raghu      RamRaghu@email.com
3  Laxman   Raghu   LaxmanRaghu@gmail.com
0  Prasit  Poudel  PrasitPoudel@gmail.com

In [17]:
df.sort_values(by=['last', 'first'], ascending=[False, True], inplace=True)

In [18]:
df

    first    last                   email
3  Laxman   Raghu   LaxmanRaghu@gmail.com
2     Ram   Raghu      RamRaghu@email.com
1    Sita   Raghu     SitaRaghu@email.com
0  Prasit  Poudel  PrasitPoudel@gmail.com

In [19]:
df.sort_index()

    first    last                   email
0  Prasit  Poudel  PrasitPoudel@gmail.com
1    Sita   Raghu     SitaRaghu@email.com
2     Ram   Raghu      RamRaghu@email.com
3  Laxman   Raghu   LaxmanRaghu@gmail.com

In [20]:
df['last'].sort_values()

0    Poudel
3     Raghu
2     Raghu
1     Raghu
Name: last, dtype: object